.project
.idea/
.*.swp
.*.swo
._*
.DS_Store
.idea/
.svn/
.smbdelete*
*.sublime*
.sass-cache
.htaccess
_src/doc/*
_src/html/*
_src/assets
node_modules/*
node_modules
config.json
/dist
/html